<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Activate Your Account</title>
  <style>
    .page {
      text-align: center;
    }

    .main-block {
      display: inline-block;
      padding: 20px;
      border-radius: 10px;
      background-color: #f5f5f5;
    }

    .logo {
      text-align: center;
      font-size: 36px;
      font-weight: bold;
    }

    .content {
      text-align: center;
      font-size: 16px;
      margin-top: 10px;
    }

    .inner {
      display: inline-block;
      text-align: left;
      padding: 20px;
      border-top: 2px solid #f0f0f0;
    }

    .button-row {
      text-align: center;
    }

    .button {
      padding: 10px 15px;
      background-color: #ff8560;
      border-radius: 10px;
      color: white !important;
      text-decoration: none;
    }

    .orange {
      color: #ff8560;
    }

    .black {
      color: #4e4e4e;
    }
  </style>
</head>

<body>
  <div class="page">
    <div class="main-block">
      <div class="logo"><span class="orange">Silk</span><span class="black">bot</span></div>
      <div class="content black">
        <span class="inner">
          Hi~{{user_name}}
          <br />
          请点选以下连结以重设您的密码
        </span>
        <div class="button-row">
          <a href="{{link}}" class="button" target="_blank">重设密码</a>
        </div>
      </div>
    </div>
  </div>
</body>

</html>